.cell {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid #ddd;
  margin-right: 5px;
}
.gamePiece {
  width: 40px;
  height: 40px;
  margin: 5px 0 0 5px;
  border-radius: 40px;
  cursor: pointer;
  position: relative;

  :after {
    content: " ";
    position: absolute;
    right: 0;
    top: -5px;
    height: 38px;
    width: 38px;
    border-radius: 40px;
    pointer-events: none;
  }
}
.cell_b div {
  background-color: #444;
}
.cell_b div:after {
  background-color: #444;
  border: 1px solid white;
}
.cell_r div {
  background-color: #e26b6b;
}
.cell_r div:after {
  background-color: #e26b6b;
  border: 1px solid white;
}
.cell_ab div,
.cell_ar div {
  background-color: #6a6aff;
  box-shadow: 0px 0px 24px #2983f3;
}
.cell_ab.k div:after,
.cell_ar.k div:after {
  background-color: #6a6aff;
  border: 1px solid white;
}
.cell_h {
  background-color: #6a6aff !important;
}

