.container {
  /* width: 100%; */
  padding: 0 15px;
}
.footer {
  background-color: #fefeff;
  border-top: 1px solid #e0e0e0;
}
.listItem {
  width: auto;
  border-radius: 0.29rem;
  transition: all 0.2s ease-in-out;
}

.listItem:hover {
  background: rgba(60, 68, 177, 0.05);
  color: #3c44b1;
}
.inner {
  padding: 9px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
}

.schoolLogo {
  width: 112.422px;
  display: flex;
  justify-content: flex-end;
}

.schoolLogoLink {
  height: 20px;
  display: block;
}

.schoolLogoIcon {
  height: 100%;
}

@media (max-width: 600px) {
  .inner {
    flex-direction: column-reverse;
  }

  .list {
    order: 3;
  }

  .schoolLogo {
    width: auto;
  }

  .schoolLogoLink {
    margin-bottom: 17px;
  }
}

@media (max-width: 345px) {
  .list {
    flex-direction: column;
  }
}
